<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>ticker/Symbol</th>
      <th>Closing Marubozu</th>
      <th>Marubozu</th>
      <th>Engulfing Pattern</th>
      <th>Evening Star</th>
      <th>Hammer</th>
      <th>Inverted Hammer</th>
      <th>Hanging Man</th>
      <th>Shooting Star</th>
      <th>Spinning Top</th>
      <th>Doji</th>
      <th>Doji Star</th>
      <th>Dragonfly Doji</th>
      <th>Evening Doji Star</th>
      <th>Gravestone Doji</th>
      <th>Morning Doji Star</th>
      <th>Morning Star</th>
      <th>Piercing Pattern</th>
      <th>Dark Cloud Cover</th>
      <th>Three Black Crows</th>
      <th>Three Advancing White Soldiers</th>
      <th>RSI</th>
      <th>Trend</th>
      <th>Head and Shoulders</th>
      <th>Inv Head and Shoulders</th>
      <th>Double Bottom</th>
      <th>Double Top</th>
      <th>Bullish penant</th>
      <th>Bearish penant</th>
      <th>Falling wedge</th>
      <th>Rising wedge</th>
      <th>Bullish flag</th>
      <th>Bearish flag</th>
      <th>Harmonics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021-07-02</td>
      <td>GOOG</td>
      <td>bullish</td>
      <td>bullish</td>
      <td>bullish</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>60.423589</td>
      <td>UpTrend</td>
      <td>(2021-03-15 00:00:00, 2021-05-11 00:00:00)</td>
      <td>(2021-03-05 00:00:00, 2021-03-19 00:00:00)</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>{'gartley': False, 'shark': 'bullish shark ', 'cypher': False, 'butterfly': False, 'deepcrab': False, 'crab': False, 'abcd': False, '5o': False, 'altbat': False, 'bat': False}</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2021-07-02</td>
      <td>AAPL</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>71.035100</td>
      <td>UpTrend</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>{'gartley': False, 'shark': False, 'cypher': False, 'butterfly': False, 'deepcrab': False, 'crab': False, 'abcd': False, '5o': False, 'altbat': False, 'bat': False}</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2021-07-02</td>
      <td>TSLA</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>62.660499</td>
      <td>UpTrend</td>
      <td>False</td>
      <td>False</td>
      <td>(2021-04-26 00:00:00, 2021-06-09 00:00:00)</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>{'gartley': False, 'shark': False, 'cypher': False, 'butterfly': False, 'deepcrab': False, 'crab': False, 'abcd': False, '5o': False, 'altbat': False, 'bat': False}</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2021-07-02</td>
      <td>FB</td>
      <td>bullish</td>
      <td>bullish</td>
      <td>bullish</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>65.573065</td>
      <td>UpTrend</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>False</td>
      <td>{'gartley': False, 'shark': False, 'cypher': False, 'butterfly': False, 'deepcrab': False, 'crab': False, 'abcd': False, '5o': False, 'altbat': False, 'bat': False}</td>
    </tr>
  </tbody>
</table>