<form>
  <label for="end"> end: </label>
  <input type="date" id="end" name="end" required pattern="\d{4}-\d{2}-\d{2}" />

  <input type="submit" value="Scan" />

</form>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>date</th>
      <th>ticker/Symbol</th>
      <th>Closing Marubozu</th>
      <th>Marubozu</th>
      <th>Engulfing Pattern</th>
      <th>Evening Star</th>
      <th>Hammer</th>
      <th>Inverted Hammer</th>
      <th>Hanging Man</th>
      <th>Shooting Star</th>
      <th>Spinning Top</th>
      <th>Doji</th>
      <th>Doji Star</th>
      <th>Dragonfly Doji</th>
      <th>Evening Doji Star</th>
      <th>Gravestone Doji</th>
      <th>Morning Doji Star</th>
      <th>Morning Star</th>
      <th>Piercing Pattern</th>
      <th>Dark Cloud Cover</th>
      <th>Three Black Crows</th>
      <th>Three Advancing White Soldiers</th>
      <th>RSI</th>
      <th>Trend</th>
      <th>Head and Shoulders</th>
      <th>Inv Head and Shoulders</th>
      <th>Double Bottom</th>
      <th>Double Top</th>
      <th>Bullish penant</th>
      <th>Bearish penant</th>
      <th>Falling wedge</th>
      <th>Rising wedge</th>
      <th>Bullish flag</th>
      <th>Bearish flag</th>
      <th>gartley</th>
      <th>shark</th>
      <th>cypher</th>
      <th>butterfly</th>
      <th>deepcrab</th>
      <th>crab</th>
      <th>abcd</th>
      <th>5o</th>
      <th>altbat</th>
      <th>bat</th>
    </tr>
  </thead>
  <tbody>
    {% for cnt in n_comp %}
      <tr>
        <th>cnt</th>
          {% for key, value in (tab[cnt]).items %}
            <td>{{value}}</td>
          {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>